#header{
	width:100%;
	background-color: black;
	height:200px;
	color:white;
}

#law{
	height:200px;
	float:right;
}
#main{
	background-color: black;
}

}
#gifView{
	background-color: black;
	
	padding:0;
	margin:0;
}
.gifButton{
	color:navy;
	padding:15px 30px;
	border-color: red;
	background-color:white;
	font-family: 'Varela Round', sans-serif;
}
#gif-form{
	font-family: 'Varela Round', sans-serif;
	color:red;
	background-color: black;
}
.workingGif{
	 float:left;
	 overflow:wrap;



}
p{
	float:left;
	font-family: 'Varela Round', sans-serif;
	color:red;

	
}
#gifShow{
	background-color: black;
	overflow:hidden;

}

